@font-face {
    font-family: "IRANSansX_Regular";
    src: url("../fonts/woff2/IRANSansX-Regular.woff2"),
         url("../fonts/woff/IRANSansX-Regular.woff") ;
}
  
@font-face {
    font-family: "IRANSansX_Bold";
    src: url("../fonts/woff2/IRANSansX-Bold.woff2"),
         url("../fonts/woff/IRANSansX-Bold.woff");
}

@font-face {
    font-family: "Poppins_Light";
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins_SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}